{% extends 'base.html' %}

{% block body %}
    <h1>성별</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="age" value="1">10대</button>
        <button type="submit" name="age" value="2">20대</button>
        <button type="submit" name="age" value="3">30대</button>
        <button type="submit" name="age" value="4">40대</button>
        <button type="submit" name="age" value="5">50대</button>
        <button type="submit" name="age" value="6">60대 이상</button>
    </form>
{% endblock %}