{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center; margin-top: 220px;">
        <a href="{% url 'Researches:style2' %}" class="btn Dovemayo_gothic border border-dark border-3" style="font-size: 15px; font-weight: bold;">여행지 추천 받기>></a>
    </div>    
    
    <style>
        body {
            background-image: url("{% static 'images/home.jpeg' %}");
            background-size: 768px;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
        
        .Protest_Riot {
        color: rgb(12, 12, 12); 
        }
    </style>
{% endblock %}