{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center;">
        <h1 class="question Dovemayo_gothic">
            로컬푸드를 먹고 배탈이 났다. <br>
            뒤의 일정은 어쩌지?
        </h1>
        <img class="survey-image" src = "{% static 'images/JP.jpeg' %}">
        <form method="POST">
            {% csrf_token %}
            <div id="fontDiv">
                <button type="submit" name="MBTI_JP" value="J" class="btn Dovemayo_gothic answer"><span class="highlight">J </span>준비해온 상비약을 먹고<br>일정을 소화한다.</button><br>
                <button type="submit" name="MBTI_JP" value="P" class="btn Dovemayo_gothic answer"><span class="highlight2">P </span>어우 컨디션 너무 안좋아.<br>오늘은 쉬자. </button>
            </div>
        </form>
    </div> 
{% endblock %}