{% extends 'base.html' %}
{% load static %}
{% block body %}
<div style="text-align: center; margin-top: 80px;">
    <h1 style="margin-bottom: 35px; font-size: 45px;" class="Black_Han_Sans">MBTI_SN</h1>
    <form method="POST">
        {% csrf_token %}
        <div  class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" name="MBTI_SN" value="S" class="btn btn-dark" style="font-size: 19px;">S</button>
        <button type="submit" name="MBTI_SN" value="N" class="btn btn-dark" style="font-size: 19px;">N</button>
        </div>
    </form>
</div>
<style>
    body {
        background-image: url("{% static 'images/k.jpg' %}");
        background-size: 20%; /* 배경 이미지를 화면에 맞게 조절합니다. */
        background-repeat: repeat;
        background-position: center; /* 배경 이미지를 가운데 정렬합니다. */
    }
</style>
{% endblock %}