{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center;">
        <h1 class="question Dovemayo_gothic">
            아름다운 여행지를 왔다. <br>
            여행지를 보며 드는 생각은?
        </h1>
        <img class="survey-image" src = "{% static 'images/FT.png' %}">
        <form method="POST">
            {% csrf_token %}
            <div id="fontDiv">
                <button type="submit" name="MBTI_FT" value="F" class="btn Dovemayo_gothic answer"><span class="highlight">F </span>와 예쁘다 친구한테 찍어서<br>보내줘야지</button><br>
                <button type="submit" name="MBTI_FT" value="T" class="btn Dovemayo_gothic answer"><span class="highlight2">T </span>예쁘네, 아름다운 풍광(풍경)을 만들어 낸 대자연이란..</button>
            </div>
        </form>
    </div> 
{% endblock %}