{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center; margin-top: 40px;">
        <h1 class="question Dovemayo_gothic">
            두근두근 여행 전 날! <br>
            잠들기 전… 
        </h1>
        <img class="survey-image" src = "{% static 'images/SN.jpeg' %}">
        <form method="POST">
            {% csrf_token %}
            <div id="fontDiv">
                <button type="submit" name="MBTI_SN" value="S" class="btn Dovemayo_gothic answer"><span class="highlight">S </span>여행가서 뭐 할까?<br>뭐 먹을ㄲ…..곧 잠든다</button><br>
                <button type="submit" name="MBTI_SN" value="N" class="btn Dovemayo_gothic answer"><span class="highlight2">N </span>기차타고 가는 길에 좀비 나오면 어떡하지? 상상의 나래를 펼친다</button>
            </div>
        </form>
    </div> 
{% endblock %}