{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center;">
        <h1 class="question Dovemayo_gothic">
            짐 정리 끝! <br>
            아 근데 여기 왜 왔더라?
        </h1>
        <img class="survey-image" src = "{% static 'images/style5.png' %}">
        <form method="POST">
            {% csrf_token %}
            <div id="fontDiv">
                <button type="submit" name="style5" value="0" class="btn Dovemayo_gothic answer">요즘 너무 바빴어,<br><span class="highlight">힐링</span>하면서 충전하자! 🌴</button><br>
                <button type="submit" name="style5" value="1" class="btn Dovemayo_gothic answer">패러글라이딩, 서핑 같은<br> <span class="highlight2">액티비티</span>를 해야지! 🏄‍♂️</button>
            </div>
        </form>
    </div>  
{% endblock %}