{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="text-align: center;">
        <h1 class="question Dovemayo_gothic">
            여행 전 짐을 풀러 온 당신! <br>
            어떤 숙소에 체크인했나요?
        </h1>
        <img class="survey-image" src = "{% static 'images/style4.png' %}">
        <form method="POST">
            {% csrf_token %}
            <div id="fontDiv">
                <button type="submit" name="style4" value="0" class="btn Dovemayo_gothic answer">편안한 침대, 럭셔리한<br>시설이 있는 <span class="highlight">호텔 </span>🏨</button><br>
                <button type="submit" name="style4" value="1" class="btn Dovemayo_gothic answer">숙박비 아껴서 다른데 쓰자!<br><span class="highlight2">게스트하우스</span>🏠</button>
            </div>
        </form>
    </div>  
{% endblock %}